{% extends 'base.jinja' %}

{% block container %}
<div class="row">

<div id="rc-bg">
	<form action="frida" method="POST">
		<div class="form-group">
			<label id="fm">frida 스크립트</label>
			{% for name in enter %}
			<div class="checkbox">
				<label>
					<input type="checkbox" name="checkScript" value={{ name }}> {{ name }}
				</label>
			</div>
			{% endfor %}
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2">
				<button class="btn btn-primary" type="submit">실행</button>
			</div>
		</div>

	</form>

</div>

</div>
{% endblock container %}
