{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="center-block" >
		<table class="table table-bordered table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>PID</th>
					<th>시작주소</th>
					<th>끝 주소</th>
					<th>권한</th>
					<th>라이브러리 이름</th>
				</tr>
			</thead>

			<tbody>
				{% for pid, mem_list in enter %}
					{% for mem in mem_list %}
					<tr class="clickable-mmap-list">
						<td>{{ pid }}</td>
						<td>{{ mem.start_addr }}</td>
						<td>{{ mem.end_addr }}</td>
						<td>{{ mem.permission }}</td>
						<td>{{ mem.sharedName }}</td>
					</tr>
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>

		<form action="mmap" method="GET" enctype="multipart/form-data">
			<div class="form-group">
				<div class="radio">
					<label><input type="radio" name="choiceMemory" value=read checked>읽기</label>
					<label><input type="radio" name="choiceMemory" value=write>쓰기</label>
					<label><input type="radio" name="choiceMemory" value=search>힙검색</label>
					<label><input type="radio" name="choiceMemory" value=hook>후킹탐지</label>
					<label><input type="radio" name="choiceMemory" value=trace>함수추적</label>
					<label><input type="radio" name="choiceMemory" value=dump>덤프</label>
				</div>
			</div>

			<div class="form-group">
				<div class="radio">
					<label><input type="radio" name="arch" value=ARM checked>ARM</label>
					<label><input type="radio" name="arch" value=X86>X86</label>					
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2">
					<label id="addr" class="col-sm-5">PID, 주소 입력</label>
						<div class="form-inline">
							<input type="number" class="form-control" name=pid min="0" max="99999" value={{ enter[0][0] }}>
				      <input type="text" class="form-control" name="GetStartAddr" placeholder="시작 주소" >
				      <input type="text" class="form-control" name="GetSizeAddr" placeholder="사이즈">
				      <input type="text" class="form-control" name="GetData" placeholder="00AABBCC">
			    	</div>
		    	</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2">
					<button type="submit" class="btn btn-primary">전송</button>
				</div>
			</div>
		</form>
	</div>

  <div id="viewer"></div>

</div>
{% endblock container %}

{% block script %}
<script>

$(document).ready(function($) {
  $(".clickable-mmap-list").click(function() {
    var tr = $(this);
    var td = tr.children();

    var pid 		= td.eq(0).text();
    var start_addr = td.eq(1).text();
    var end_addr   = td.eq(2).text();

    $.ajax({
      url: "/analysis/dynamic/mmap",
      type: "POST",
      data: {"start_addr": start_addr, "end_addr": end_addr, "pid": pid},

      success: function(response) {
          console.log("SUCCESS: ");
          $("#viewer").html(response);
      },
      error: function(error) {
          console.log("ERROR: " + error);
      }

    });
  });
});

</script>
{% endblock script %}
