{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="col-md-3 sidebar">
		<ul class="nav navbar-nav">

			<li><a href="{{ url_for('prefer.database.load', target='dev') }}">단말기로드</a></li>
			<li><a href="{{ url_for('prefer.database.load', target='app') }}">앱로드</a></li>
			<li><a href="{{ url_for('prefer.database.save') }}">저장</a></li>

		</ul>
	</div>
	<div class="col-md-10 col-md-offset-2 main"></div>

</div>
{% endblock container %}
