{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="center-block" >
		<table class="table table-bordered table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>SHA256</th>
					<th>파일 이름</th>
					<th>패키지 이름</th>
					<th>수집 시간</th>
					<th>상태 값</th>
				</tr>
			</thead>

			<tbody>
				{% for value in enter.itertuples() %}
				<tr class="clickable-pkg-list">
					<td>{{ value[0] }}</td>
					<td>{{ value[1] }}</td>
					<td>{{ value[2] }}</td>
					<td>{{ value[3] }}</td>
					<td>{{ value[5] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

		<table class="table table-bordered table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>SHA256</th>
					<th>파일 이름</th>
					<th>파일 사이즈</th>
					<th>빌드 방식</th>
					<th>부모 파일</th>
					<th>상태 값</th>
				</tr>
			</thead>

			<tbody>
				{% for value in enter2.itertuples() %}
				<tr>
					<td>{{ value[0] }}</td>
					<td>{{ value[1] }}</td>
					<td>{{ value[2] }}</td>
					<td>{{ value[3] }}</td>
					<td>{{ value[4] }}</td>
					<td>{{ value[5] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>



    </div>

    <div id="viewer"></div>

</div>
{% endblock container %}
