{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="center-block" >
		<table class="table table-bordered table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>함수 이름</th>
					<th>주소</th>
				</tr>
			</thead>

			<tbody>
				{% for value in enter.itertuples() %}
				<tr>
					<td>{{ value[1] }}</td>
					<td>{{ value[2] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>

    </div>

</div>
{% endblock container %}
