{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="col-md-3 sidebar">
		<ul class="nav navbar-nav">

			<li><a href="{{ url_for('prefer.set') }}">작업 환경</a></li>
			<li><a href="{{ url_for('prefer.database.index') }}">데이터 베이스</a></li>

		</ul>
	</div>
	
	<div class="col-md-10 col-md-offset-2 main"></div>

</div>
{% endblock container %}
