{% extends 'base.jinja' %}

{% block container %}
<div class="row">


	<div class="center-block" >
		<table class="table table-bordered table-striped table-sm table-hover">
			<thead class="thead-dark">
				<tr>
					<th>모델</th>
					<th>CPU</th>
					<th>루팅</th>
					<th>설정</th>
				</tr>
			</thead>

			<tbody>
				{% for value in enter.itertuples() %}
				<tr class="clickable-device-list">
					<td>{{ value[1] }}</td>
					<td>{{ value[2] }}</td>
					<td>{{ value[3] }}</td>
					<td>{{ value[4] }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    </div>

    <div id="device"></div>

</div>
{% endblock container %}
