{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="col-md-2 sidebar">
		<ul class="nav navbar-nav">

			<li><a href="{{ url_for('dev.list') }}">단말기 관리</a></li>
			<li><a href="{{ url_for('app.index') }}">앱 관리</a></li>
			<li><a href="{{ url_for('analysis.index') }}">분석 시스템</a></li>
			<li><a href="{{ url_for('set.') }}">환경 설정</a></li>

		</ul>
	</div>
	<div class="col-md-10 col-md-offset-2 main"></div>

</div>
{% endblock container %}
