{% extends 'base.jinja' %}

{% block container %}
<div class="row">

  <div class="col-md-2 sidebar">
    <div class="radio">
      <label><input type="radio" name="platform" value=X86 checked>X86</label>
      <label><input type="radio" name="platform" value=ARM>ARM</label>
    </div>
    <input type="text" class="form-control" name="GetText" placeholder="00 AA BB CC">

    <div class="col-sm-offset-2">
      <button class="btn btn-primary" type="submit" name="send">전송</button>
    </div>
  </div>

  <div class="col-md-10 col-md-offset-2 main">
    <div class="row">
      <pre id="disasm_content">아직 없음<br></pre>
    </div>
  </div>

</div>
{% endblock container %}

{% block script %}
<script>

$(document).ready(function($) {
  $('button[name=send]').click(function() {
    var platform = $('input[name=platform]:checked').val();
    var text = $('input[name=GetText]').val();

    $.ajax({
      url: "/analysis/static/disasm",
      type: "GET",
      data: {"platform": platform, "text": text},

      success: function(response) {
          console.log("SUCCESS: ");
          $("#disasm_content").text(response);
      },
      error: function(error) {
          console.log("ERROR: " + error);
      }

    });
  });
});

</script>
{% endblock script %}
