{% extends 'base.jinja' %}

{% block container %}
<div class="row">

	<div class="col-md-3 sidebar">
		<ul class="nav navbar-nav">

			<li><a href="{{ url_for('tip.opcode') }}">추천 opcode 리스트</a></li>

		</ul>
	</div>


</div>
{% endblock container %}
