{% extends 'base.jinja' %}

{% block container %}
<div class="row">

  <div class="col-md-2 sidebar">
    <ul class="nav navbar-nav">

      <li><a href="{{ url_for('analysis.static.index') }}">정적분석</a></li>

    </ul>
  </div>
  <!--
        <li class="menu">
        <a>동적 디버깅</a>
        <ul class="hide">
          <li name="dynamic-menu">run</li>
          <li name="dynamic-menu">jdb</li>
        </ul>
      </li>  
-->
  <div class="col-md-10 col-md-offset-2 main">
    분석 중인 패키지: {{ pkg }}
  </div>

</div>
{% endblock container %}
