{% extends 'base.jinja' %}

{% block container %}
<div class="row" >

	<table class="table table-bordered table-striped table-sm table-hover">
		<thead class="thead-dark">
			<tr>
				<th>앱 리스트</th>
			</tr>
		</thead>

		<tbody>
			{% for value in enter %}
			<tr>
				<td>{{ value }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
{% endblock container %}
