{% extends 'base.jinja' %}

{% block container %}

<div class="row">
	<div class="col-md-2 sidebar">
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('app.', mode='list') }}">기본 분석</a></li>
			<li><a href="{{ url_for('app.', mode='install') }}">설치</a></li>
			<li><a href="{{ url_for('app.', mode='uninstall') }}">삭제</a></li>
			<li><a href="{{ url_for('app.', mode='debug') }}">디버깅모드</a></li>

			<li class="menu">
				<a>Watting 모드</a>
				<ul class="hide">
					<li name="dbg-wait">set</li>
					<li name="dbg-wait">clear</li>
				</ul>
			</li>

			<li class="menu">
				<a>디컴파일 메뉴</a>
				<ul class="hide">
					<li><a href="{{ url_for('app.decmp', mode='jadx') }}">jadx</a></li>
					<li><a href="{{ url_for('app.decmp', mode='androg') }}">androg</a></li>
					<li><a href="{{ url_for('app.decmp', mode='il2cpp') }}">il2cpp</a></li>
					<li><a href="{{ url_for('app.decmp', mode='mono') }}">mono</a></li>
				</ul>
			</li>

		</ul>
	</div>

	<div class="col-md-10 col-md-offset-2 main"></div>
		<div id="viewer"></div>
	</div>

</div>

{% endblock container %}
