{% extends 'base.jinja' %}

{% block container %}
<div class="row" >

	<form action={{ url_for('app.', mode='analysis') }} method="POST" enctype="multipart/form-data">
		<div class="form-group">
			<div class="checkbox">
				{% for AppName in enter %}
				<label id="fm">{{ name }}</label>
				<label>
					<input type="checkbox" name="AppName" value= {{ AppName }}>{{ AppName }}
				</label>
				{% endfor %}
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2">
				<button type="submit" class="btn btn-primary">분석</button>
			</div>
		</div>

	</form>

</div>
{% endblock container %}
